<h1 mat-dialog-title>Edit Time Logs</h1>

<div mat-dialog-content>
  <form [formGroup]="form">
    <table
      mat-table
      [dataSource]="timeLogsArray.controls"
      class="m-borders"
      formArrayName="timeLogs"
    >
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let control">
          {{ control.get("date").value | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="timeIn">
        <th mat-header-cell *matHeaderCellDef>Time In</th>
        <td
          mat-cell
          *matCellDef="let timeLog; let i = index"
          [formGroupName]="i"
        >
          <div class="pt-2 px-2">
            <mat-form-field appearance="fill" class="m-no-margin">
              <input matInput type="time" formControlName="timeIn" />
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="timeOut">
        <th mat-header-cell *matHeaderCellDef>Time Out</th>
        <td
          mat-cell
          *matCellDef="let timeLog; let i = index"
          [formGroupName]="i"
        >
          <div class="pt-2 px-2">
            <mat-form-field appearance="fill" class="m-no-margin">
              <input matInput type="time" formControlName="timeOut" />
            </mat-form-field>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-flat-button color="primary" (click)="save()">SAVE</button>
  <button mat-button>CANCEL</button>
</div>
