<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="accupaydb" connectionString="server=localhost;user id=root;password=globagility;database=accupaydb_laglobal;" />
  </connectionStrings>
  <appSettings>
    <add key="appVersion" value="1.3.0" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="SmtpSender" value="123@gmail.com" />
    <add key="SmtpDisplayName" value="HR Payroll" />
    <add key="SmtpPassword" value="123" />
  </appSettings>
</configuration>