@import 'styles/variables';

.__logo {
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

mat-card {
  margin-bottom: $app-space-2;
}

.btn-upload {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.space-top {
  margin-top: 20px;
}

.space-bottom {
  margin-bottom: 20px;
}

span {
  padding: 10px;
  margin: 5px 0px;
}

.field {
  &-label,
  &-value {
    display: block;
  }

  &-label {
    font-size: 0.75rem;
    color: $text-color-300;
  }
}
