<h1>Time Logs</h1>

<div class="row middle-md">
  <div class="col-md-3">
    <mat-form-field color="accent" class="w-full">
      <mat-icon matPrefix class="m-align-middle">search</mat-icon>
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        [placeholder]="placeholder"
        name="timeLogs"
        [(ngModel)]="clearSearch"
      />
      <button
        *ngIf="clearSearch"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchBox()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <button mat-raised-button color="accent" class="new-btn" routerLink="new">
      NEW TIME LOG
    </button>
    <input
      hidden
      type="file"
      #uploader
      (change)="onImport($event.target.files)"
    />
    <button
      mat-raised-button
      color="accent"
      class="new-btn"
      style="margin-left: 10px;"
      (click)="uploader.click()"
    >
      IMPORT
    </button>
  </div>
</div>

<div class="mat-elevation-z1">
  <table
    mat-table
    matSort
    #table
    [dataSource]="dataSource"
    (matSortChange)="sortData($event)"
    class="w-full"
  >
    <ng-container matColumnDef="employeeNumber">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Employee Number</th>
      <td mat-cell *matCellDef="let timeLog">
        {{ timeLog.employeeNumber | ifEmpty: "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="employeeName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Employee Name</th>
      <td mat-cell *matCellDef="let timeLog">
        {{ timeLog.employeeName | ifEmpty: "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let timeLog">
        {{ timeLog.date | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let timeLog">
        {{ timeLog.startTime | date: "shortTime" }} -
        {{ timeLog.endTime | date: "shortTime" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="branch">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Branch</th>
      <td mat-cell *matCellDef="let timeLog">
        {{ timeLog.branchName | ifEmpty: "-" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="cursor-link"
      (mouseover)="setHoveredRow(row.id)"
      [class.active]="row.rowId == selectedRow"
      (mouseout)="selectedRow = null"
      routerLink="/time-logs/{{ row.id }}"
    ></tr>
  </table>

  <div class="app-empty-table" *ngIf="dataSource?.data.length <= 0">
    No timeLog were found.
  </div>

  <mat-paginator
    #paginator
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 5, 25, 100]"
    [length]="totalCount"
    [showFirstLastButtons]="true"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
