<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SmtpHost" value="smtp.gmail.com" />
  <add key="SmtpPort" value="587" />
  <add key="SmtpSender" value="testemailforglobagility@gmail.com" />
  <add key="SmtpDisplayName" value="TEST" />
  <add key="SmtpPassword" value="PIN4545global" />
</appSettings>