<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="SmtpHost" value="smtp.gmail.com" />
  <add key="SmtpPort" value="587" />
  <add key="SmtpSender" value="jsantos.globagility@gmail.com" />
  <add key="SmtpDisplayName" value="Joshua Santos" />
  <add key="SmtpPassword" value="vigoss2008" />
</appSettings>