<h1 class="mat-headline">Organizations</h1>

<div class="row middle-md">
  <div class="col-md-9"></div>
  <div class="col-md-3">
    <button
      *ngxPermissionsOnly="[PermissionTypes.OrganizationCreate]"
      mat-raised-button
      color="accent"
      class="new-btn"
      routerLink="/organizations/new"
    >
      NEW ORGANIZATION
    </button>
  </div>
</div>

<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let organization">
        {{ organization.name | ifEmpty: "-" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="cursor-link"
      routerLink="/organizations/{{ row.id }}"
    ></tr>
  </table>

  <div class="app-empty-table" *ngIf="dataSource?.data.length <= 0">
    No organizations were found.
  </div>

  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 5, 25, 100]"
    [length]="totalCount"
    [showFirstLastButtons]="true"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
