<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="row" style="border: 2px solid;">
      <div class="col-md-6">
        <table class="data-table">
          <thead>
            <tr>
              <th></th>
              <th>Hrs.</th>
              <th>Total Earnings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Basic Pay</td>
              <td>104.33</td>
              <td>7,003.29</td>
            </tr>
            <tr>
              <td>Absent</td>
              <td>104.00</td>
              <td>(6,981.00)</td>
            </tr>
            <tr>
              <td>Late</td>
              <td>8</td>
              <td>(537.00)</td>
            </tr>
            <tr>
              <td>Undertime</td>
              <td>4</td>
              <td>(268.50)</td>
            </tr>
            <tr>
              <td>Overtime</td>
              <td>2.89</td>
              <td>495.39</td>
            </tr>
            <tr>
              <td>Night Differential</td>
              <td>5</td>
              <td>78.68</td>
            </tr>
            <tr>
              <td>Night Differential OT</td>
              <td>2</td>
              <td>216.68</td>
            </tr>
            <tr>
              <td>Regular Holiday</td>
              <td>1</td>
              <td>1074.00</td>
            </tr>
            <tr>
              <td>Regular Holiday OT</td>
              <td>2</td>
              <td>216.68</td>
            </tr>
            <tr>
              <td>Special Holiday</td>
              <td>1</td>
              <td>1074.00</td>
            </tr>
            <tr>
              <td>Special Holiday OT</td>
              <td>2</td>
              <td>216.68</td>
            </tr>
            <tr>
              <td>Rest Day Holiday</td>
              <td>1</td>
              <td>1074.00</td>
            </tr>
            <tr>
              <td>Rest Day Holiday OT</td>
              <td>2</td>
              <td>216.68</td>
            </tr>
            <tr>
              <td>Leave</td>
              <td>24</td>
              <td>537</td>
            </tr>
            <tr>
              <td>Non-taxable Allowance</td>
              <td></td>
              <td>1000.00</td>
            </tr>
            <tr>
              <td>Taxable Allowance</td>
              <td></td>
              <td>750.50</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>GROSS PAY</th>
              <th></th>
              <th>6,731.50</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-6">
        <table class="data-table" style="float: right;">
          <thead>
            <tr>
              <th>Deductions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SSS Premium</td>
              <td>(260.00)</td>
            </tr>
            <tr>
              <td>PhilHealth</td>
              <td>(150.00)</td>
            </tr>
            <tr>
              <td>Pag-IBIG</td>
              <td>(50.00)</td>
            </tr>
            <tr>
              <td>Tax Withheld</td>
              <td>100.00</td>
            </tr>
            <tr>
              <td><a href="javascript:void(0);">Total Loans</a></td>
              <td>(1,245.91)</td>
            </tr>
            <tr>
              <th>Total Deductions</th>
              <th>(1,755.91)</th>
            </tr>
            <tr>
              <td><a href="javascript:void(0);">Total Adjustments</a></td>
              <td>(125.00)</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>NET PAY:</th>
              <th>4,791.33</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
