<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="row" style="border: 2px solid;">
      <div class="col-md-6">
        <table class="data-table">
          <thead>
            <tr>
              <th></th>
              <th>Hrs.</th>
              <th>Total Earnings</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Basic Pay</td>
              <td>{{ paystub.basicHours | ifZero: "1.0-2" }}</td>
              <td>{{ paystub.basicRate | ifZero: "1.2-2" }}</td>
            </tr>
            <tr>
              <td>Absent</td>
              <td>{{ paystub.absentHours | ifZero }}</td>
              <td>{{ paystub.absenceDeduction | hasParenthesis }}</td>
            </tr>
            <tr>
              <td>Late</td>
              <td>{{ paystub.lateHours | ifZero }}</td>
              <td>{{ paystub.lateDeduction | hasParenthesis }}</td>
            </tr>
            <tr>
              <td>Undertime</td>
              <td>{{ paystub.undertimeHours | ifZero }}</td>
              <td>
                {{ paystub.undertimeDeduction | hasParenthesis }}
              </td>
            </tr>
            <tr>
              <td>Overtime</td>
              <td>{{ paystub.overtimeHours | ifZero }}</td>
              <td>{{ paystub.overtimePay | ifZero: "1.2-2" }}</td>
            </tr>
            <tr>
              <td>Night Differential</td>
              <td>{{ paystub.nightDiffHours | ifZero }}</td>
              <td>{{ paystub.nightDiffPay | ifZero: "1.2-2" }}</td>
            </tr>
            <tr>
              <td>Night Differential OT</td>
              <td>{{ paystub.nightDiffOvertimeHours | ifZero }}</td>
              <td>
                {{ paystub.nightDiffOvertimePay | ifZero: "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td>Regular Holiday</td>
              <td>{{ paystub.regularHolidayHours | ifZero }}</td>
              <td>
                {{ paystub.regularHolidayPay | ifZero: "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td>Regular Holiday OT</td>
              <td>{{ paystub.regularHolidayOTHours | ifZero }}</td>
              <td>
                {{ paystub.regularHolidayOTPay | ifZero: "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td>Special Holiday</td>
              <td>{{ paystub.specialHolidayHours | ifZero }}</td>
              <td>
                {{ paystub.specialHolidayPay | ifZero: "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td>Special Holiday OT</td>
              <td>{{ paystub.specialHolidayOTHours | ifZero }}</td>
              <td>
                {{ paystub.specialHolidayOTPay | ifZero: "1.2-2" }}
              </td>
            </tr>
            <tr>
              <td>Rest Day Holiday</td>
              <td>{{ paystub.restDayHours | ifZero }}</td>
              <td>{{ paystub.restDayPay | ifZero: "1.2-2" }}</td>
            </tr>
            <tr>
              <td>Rest Day Holiday OT</td>
              <td>{{ paystub.restDayOTHours | ifZero }}</td>
              <td>{{ paystub.restDayOTPay | ifZero: "1.2-2" }}</td>
            </tr>
            <tr>
              <td>Leave</td>
              <td>{{ paystub.leaveHours | ifZero }}</td>
              <td>{{ paystub.leavePay | ifZero: "1.2-2" }}</td>
            </tr>
            <tr>
              <td>Non-taxable Allowance</td>
              <td></td>
              <td>{{ paystub.totalNonTaxableAllowance | indicateNegative }}</td>
            </tr>
            <tr>
              <td>Taxable Allowance</td>
              <td></td>
              <td>{{ paystub.totalTaxableAllowance | indicateNegative }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>GROSS PAY</th>
              <th></th>
              <th>{{ paystub.grossPay | ifZero: "1.2-2" }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-6">
        <table class="data-table" style="float: right;">
          <thead>
            <tr>
              <th>Deductions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>SSS Premium</td>
              <td>{{ paystub.sssEmployeeShare | hasParenthesis }}</td>
            </tr>
            <tr>
              <td>PhilHealth</td>
              <td>{{ paystub.philHealthEmployeeShare | hasParenthesis }}</td>
            </tr>
            <tr>
              <td>Pag-IBIG</td>
              <td>{{ paystub.hdmfEmployeeShare | hasParenthesis }}</td>
            </tr>
            <tr>
              <td>Tax Withheld</td>
              <td>{{ paystub.withholdingTax | hasParenthesis }}</td>
            </tr>
            <tr>
              <td><a href="javascript:void(0);">Total Loans</a></td>
              <td>{{ paystub.totalLoans | hasParenthesis }}</td>
            </tr>
            <tr>
              <th>Total Deductions</th>
              <th>{{ paystub.totalDeductions | hasParenthesis }}</th>
            </tr>
            <tr>
              <td><a href="javascript:void(0);">Total Adjustments</a></td>
              <td>{{ paystub.totalAdjustments | indicateNegative }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th>NET PAY:</th>
              <th>{{ paystub.netPay | ifZero: "1.2-2" }}</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
