<div class="flex">
  <div class="w-1/2">
    <h1 class="mat-headline">Leaves</h1>
  </div>
  <div class="w-1/2 flex justify-end items-start">
    <button
      mat-raised-button
      color="primary"
      (click)="createLeave()"
      class="m-with-icon"
    >
      <mat-icon>add</mat-icon>REQUEST LEAVE
    </button>
  </div>
</div>

<div class="mat-elevation-z1">
  <table mat-table class="w-full" [dataSource]="dataSource">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Leave Type</th>
      <td mat-cell *matCellDef="let leave">{{ leave.leaveType | ifEmpty }}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let leave">{{ leave.startDate | date }}</td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let leave">
        <ng-container
          *ngIf="
            leave.startTime != null || leave.endTime != null;
            else wholeDay
          "
        >
          {{ leave.startTime | date: "shortTime" }} -
          {{ leave.endTime | date: "shortTime" }}
        </ng-container>
        <ng-template #wholeDay>
          <span class="italic">Whole Day</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let leave">
        <app-status type="leave" [value]="leave.status"></app-status>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let leave; columns: displayedColumns"></tr>
  </table>
</div>
