<div class="flex h-full">
  <div class="w-1/4 flex flex-col h-full bg-white mat-elevation-z1">
    <!-- Filter and sort -->
    <div class="flex-none">
      <div class="flex justify-end px-4 pt-4">
        <a
          mat-raised-button
          color="primary"
          class="m-with-icon"
          routerLink="/employees/new"
        >
          <mat-icon>add</mat-icon>NEW
        </a>

        <button
          [disabled]="isDownloadingTemplate"
          mat-raised-button
          (click)="downloadTemplate()"
          style="margin-left: 8px;"
          color="primary"
        >
          {{ isDownloadingTemplate ? "DOWNLOADING..." : "TEMPLATE" }}
          <app-button-spinner
            [active]="isDownloadingTemplate"
          ></app-button-spinner>
        </button>

        <input
          hidden
          type="file"
          #uploader
          (change)="onImport($event.target.files)"
        />
        <button
          mat-raised-button
          color="accent"
          class="new-btn"
          style="margin-left: 10px;"
          (click)="uploader.click()"
        >
          IMPORT
        </button>
      </div>
      <div class="flex px-4">
        <mat-form-field appearance="standard" class="w-2/3">
          <mat-label>Search</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input
            matInput
            placeholder="Search"
            [(ngModel)]="searchTerm"
            (ngModelChange)="applyFilter()"
          />
          <button
            *ngIf="searchTerm"
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="clearSearchBox()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="standard" class="ml-2 w-1/3">
          <mat-icon matPrefix>filter_list</mat-icon>
          <mat-select [(ngModel)]="filter" (ngModelChange)="applyFilter()">
            <mat-option value="Active only">Active only</mat-option>
            <mat-option value="All">All</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div #employeesRef class="flex-1 overflow-y-scroll">
      <mat-selection-list
        dense
        [multiple]="false"
        [(ngModel)]="selectedEmployees"
        (selectionChange)="selectEmployee()"
      >
        <mat-list-option
          *ngFor="let employee of employees"
          [value]="employee"
          routerLink="/employees/{{ employee.id }}"
        >
          <img
            matListAvatar
            appImgFallback
            src="/api/employees/{{ employee.id }}/image"
          />
          <div mat-line>{{ employee.fullName }}</div>
          <div mat-line>#{{ employee.employeeNo }}</div>
        </mat-list-option>
      </mat-selection-list>
    </div>
    <mat-paginator
      [pageSize]="pageSize"
      [length]="totalCount"
      (page)="page($event)"
      class="flex-none"
    >
    </mat-paginator>
  </div>
  <div class="w-3/4 p-4 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
