<table mat-table [dataSource]="dataSource" class="m-padded-cells">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let timeEntry">
      <p>{{ timeEntry.date | date }}</p>
      <p>({{ timeEntry.date | date: "EEE" }})</p>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="shift">
    <th mat-header-cell *matHeaderCellDef>Shift</th>
    <td mat-cell *matCellDef="let timeEntry">
      {{ timeEntry.shift?.start | date: "shortTime" }} -
      {{ timeEntry.shift?.end | date: "shortTime" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="timeLog">
    <th mat-header-cell *matHeaderCellDef>Time In/Out</th>
    <td mat-cell *matCellDef="let timeEntry">
      {{ timeEntry.timeLog?.start | date: "shortTime" }} -
      {{ timeEntry.timeLog?.end | date: "shortTime" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="officialBusiness">
    <th mat-header-cell *matHeaderCellDef>Filed OB</th>
    <td mat-cell *matCellDef="let timeEntry">
      {{ timeEntry.officialBusiness?.start | date: "shortTime" }} -
      {{ timeEntry.officialBusiness?.end | date: "shortTime" }}
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="regularHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">Regular Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.regularHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.regularHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="leave">
    <th mat-header-cell *matHeaderCellDef>Filed Leave</th>
    <td mat-cell *matCellDef="let timeEntry">
      <ng-container *ngIf="!timeEntry.leave?.isWholeDay; else wholeDay">
        {{ timeEntry.leave?.startTime | date: "shortTime" }} -
        {{ timeEntry.leave?.endTime | date: "shortTime" }}
      </ng-container>
      <ng-template #wholeDay>
        <span class="italic">Whole Day</span>
      </ng-template>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="leaveHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">Leave Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.leaveHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.leaveHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="leavePay">
    <th mat-header-cell *matHeaderCellDef class="m-right">Leave Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.leavePay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.leavePay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="overtimes">
    <th mat-header-cell *matHeaderCellDef>Filed OTs</th>
    <td mat-cell *matCellDef="let timeEntry">
      <ul>
        <li *ngFor="let overtime of timeEntry.overtimes">
          {{ overtime.start | date: "shortTime" }} -
          {{ overtime.end | date: "shortTime" }}
        </li>
      </ul>
      <span *ngIf="timeEntry.overtimes <= 0">
        -
      </span>
    </td>
    <td mat-footer-cell *matFooterCellDef></td>
  </ng-container>

  <ng-container matColumnDef="overtimeHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">OT Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.overtimeHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.overtimeHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="overtimePay">
    <th mat-header-cell *matHeaderCellDef class="m-right">OT Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.overtimePay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.overtimePay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nightDiffHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">ND Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.nightDiffHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.nightDiffHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nightDiffPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">ND Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.nightDiffPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.nightDiffPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nightDiffOTHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">NDOT Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.nightDiffOTHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.nightDiffOTHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="nightDiffOTPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">NDOT Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.nightDiffOTPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.nightDiffOTPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="restDayHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.Day Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.restDayHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.restDayHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="restDayAmount">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.Day Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.restDayAmount | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.restDayAmount | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="restDayOTHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.DayOT Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.restDayOTHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.restDayOTHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="restDayOTPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.DayOT Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.restDayOTPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.restDayOTPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="specialHolidayHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">S.Hol Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.specialHolidayHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.specialHolidayHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="specialHolidayPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">S.Hol Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.specialHolidayPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.specialHolidayPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="specialHolidayOTHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">S.HolOT Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.specialHolidayOTHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.specialHolidayOTHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="specialHolidayOTPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">S.HolOT Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.specialHolidayOTPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.specialHolidayOTPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="regularHolidayHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.Hol Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.regularHolidayHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.regularHolidayHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="regularHolidayPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.Hol Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.regularHolidayPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.regularHolidayPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="regularHolidayOTHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.HolOT Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.regularHolidayOTHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.regularHolidayOTHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="regularHolidayOTPay">
    <th mat-header-cell *matHeaderCellDef class="m-right">R.HolOT Pay</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ timeEntry.regularHolidayOTPay | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ totalColumn.regularHolidayOTPay | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lateHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">Late Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ -timeEntry.lateHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ -totalColumn.lateHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="lateDeduction">
    <th mat-header-cell *matHeaderCellDef class="m-right">Late Amt</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ -timeEntry.lateDeduction | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ -totalColumn.lateDeduction | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="undertimeHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">UT Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ -timeEntry.undertimeHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ -totalColumn.undertimeHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="undertimeDeduction">
    <th mat-header-cell *matHeaderCellDef class="m-right">UT Amt</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ -timeEntry.undertimeDeduction | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ -totalColumn.undertimeDeduction | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="absentHours">
    <th mat-header-cell *matHeaderCellDef class="m-right">Absent Hrs</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ -timeEntry.absentHours | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ -totalColumn.absentHours | amount: "-" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="absentDeduction">
    <th mat-header-cell *matHeaderCellDef class="m-right">Absent Amt</th>
    <td mat-cell *matCellDef="let timeEntry" class="m-right">
      {{ -timeEntry.absentDeduction | amount: "-" }}
    </td>
    <td mat-footer-cell *matFooterCellDef class="m-right">
      {{ -totalColumn.absentDeduction | amount: "-" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns; let timeEntry"
    [class.red-highlight]="timeEntry?.absentHours > 0"
    [class.yellow-highlight]="timeEntry?.leaveHours > 0"
    [ngClass]="'font-12'"
  ></tr>
  <tr
    mat-footer-row
    *matFooterRowDef="displayedColumns"
    class="font-semibold"
  ></tr>
</table>
