@import 'styles/variables';

/** Don't remove comment below, or else grid layout will not work in IE */
/* autoprefixer grid: autoplace */

:host {
  display: block;
  height: 100%;
}

.sidenav-container {
  height: 100%;
}

.layout {
  display: grid;
  height: 100%;

  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    'topbar topbar'
    'sidebar content';
}

.topbar {
  grid-area: topbar;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  padding: $app-space-2;
}
