<h2 mat-dialog-title>View Loan</h2>

<div mat-dialog-content>
  <div class="row">
    <div class="col-lg-6">
      <!-- Employee -->
      <div class="row">
        <!-- Employee Name -->
        <div class="col-lg-4 mb-4">
          <app-display-field label="Employee Name">
            {{ loan.employeeName }}
          </app-display-field>
        </div>

        <!-- Employee Number -->
        <div class="col-lg-4 mb-4">
          <app-display-field label="Employee No">
            {{ loan.employeeNumber }}
          </app-display-field>
        </div>

        <!-- Employee Type -->
        <div class="col-lg-4 mb-4">
          <app-display-field label="Employee Type">
            {{ loan.employeeType }}
          </app-display-field>
        </div>
      </div>

      <!-- Details -->
      <h3 class="font-medium mb-4">Details</h3>

      <div class="row">
        <!-- Loan Number -->
        <div class="col-lg-6">
          <app-display-field label="Loan No">
            {{ loan.loanNumber | ifEmpty: "-" }}
          </app-display-field>
        </div>

        <!-- Type -->
        <div class="col-lg-6">
          <app-display-field label="Type">
            {{ loan.loanType }}
          </app-display-field>
        </div>

        <!-- Loan Amount -->
        <div class="col-lg-6">
          <app-display-field label="Loan Amount">
            ₱ {{ loan.totalLoanAmount | number: "1.2-2" }}
          </app-display-field>
        </div>

        <!-- Balance Left -->
        <div class="col-lg-6">
          <app-display-field label="Balance Left">
            ₱ {{ loan.totalBalanceLeft | number: "1.2-2" }}
          </app-display-field>
        </div>

        <!-- Deduction Amount -->
        <div class="col-lg-6">
          <app-display-field label="Deduction Amount">
            ₱ {{ loan.deductionAmount | number: "1.2-2" }}
          </app-display-field>
        </div>
      </div>

      <h3 class="font-medium mb-4">Payment Details</h3>

      <div class="row">
        <!-- Start Date -->
        <div class="col-lg-6">
          <app-display-field label="Start Date">
            {{ loan.startDate | date }}
          </app-display-field>
        </div>

        <!-- Deduction Schedule -->
        <div class="col-lg-6">
          <app-display-field label="Deduction Schedule">
            {{ loan.deductionSchedule }}
          </app-display-field>
        </div>

        <!-- Status -->
        <div class="col-lg-6">
          <app-display-field label="Status">
            <app-status type="loan" [value]="loan.status">{{
              loan.status
            }}</app-status>
          </app-display-field>
        </div>
      </div>

      <div class="row">
        <!-- Comments -->
        <div class="col-lg-12">
          <app-display-field label="Comments">
            {{ loan.comments | ifEmpty: "-" }}
          </app-display-field>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <table mat-table [dataSource]="dataSource" class="w-full">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let transaction">
            {{ transaction.deductionDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="m-right">Amount</th>
          <td mat-cell *matCellDef="let transaction" class="text-right">
            {{ -transaction.amount | amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef class="m-right">Balance</th>
          <td mat-cell *matCellDef="let transaction" class="text-right">
            {{ transaction.balance | amount }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <div class="app-empty-table" *ngIf="dataSource?.data.length <= 0">
        No transactions were found.
      </div>

      <mat-paginator
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [length]="totalCount"
        [showFirstLastButtons]="true"
        (page)="onPageChanged($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>OK</button>
</div>
