<div class="row middle-lg">
  <div class="col-lg-2">
    <mat-form-field appearance="standard" class="w-full">
      <mat-icon matPrefix class="m-align-middle">search</mat-icon>
      <mat-label>Search</mat-label>
      <input
        matInput
        (keyup)="applyFilter()"
        name="loans"
        [(ngModel)]="searchTerm"
      />
      <button
        *ngIf="searchTerm"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="clearSearchBox()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field appearance="standard" class="w-full">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="loanTypeId" (ngModelChange)="applyFilter()">
        <mat-option></mat-option>
        <mat-option *ngFor="let loanType of loanTypes" [value]="loanType.id">
          {{ loanType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-2">
    <mat-form-field appearance="standard" class="w-full">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="status" (ngModelChange)="applyFilter()">
        <mat-option></mat-option>
        <mat-option *ngFor="let statusType of statusTypes" [value]="statusType">
          {{ statusType }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-lg-2"></div>
  <div class="col-lg-4">
    <div
      *ngxPermissionsOnly="[PermissionTypes.LoanCreate]"
      class="flex justify-end items-start"
    >
      <button
        mat-raised-button
        color="primary"
        class="m-with-icon"
        (click)="newLoan()"
      >
        <mat-icon>add</mat-icon>NEW
      </button>

      <button
        mat-raised-button
        color="primary"
        class="m-with-icon"
        style="margin-left: 8px;"
        [matMenuTriggerFor]="moreMenu"
      >
        <mat-icon>more_vert</mat-icon>MORE
      </button>
      <mat-menu #moreMenu="matMenu">
        <button mat-menu-item (click)="downloadTemplate()">
          Download Template
        </button>
        <button mat-menu-item (click)="uploader.click()">Import</button>
      </mat-menu>

      <input
        hidden
        type="file"
        #uploader
        (change)="onImport($event.target.files)"
      />
    </div>
  </div>
</div>

<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" class="m-padded-cells w-full">
    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef disableClear>
        Employee
      </th>
      <td mat-cell *matCellDef="let loan">
        <app-employee-avatar
          [employeeId]="loan.employeeId"
          [employeeNo]="loan.employeeNumber"
          [fullName]="loan.employeeName"
        ></app-employee-avatar>
      </td>
    </ng-container>

    <ng-container matColumnDef="loanType">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.loanType | ifEmpty: "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="deductionSchedule">
      <th mat-header-cell *matHeaderCellDef>
        Deduction Schedule
      </th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.deductionSchedule | ifEmpty: "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>Start Date</th>
      <td mat-cell *matCellDef="let loan">
        {{ loan.startDate | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let loan">
        <app-status type="loan" [value]="loan.status"></app-status>
      </td>
    </ng-container>

    <ng-container matColumnDef="totalLoanAmount">
      <th mat-header-cell *matHeaderCellDef class="m-right">
        Total Loan
      </th>
      <td mat-cell *matCellDef="let loan" class="m-right">
        ₱ {{ loan.totalLoanAmount | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalBalanceLeft">
      <th mat-header-cell *matHeaderCellDef class="m-right">
        Remaining Balance
      </th>
      <td mat-cell *matCellDef="let loan" class="m-right">
        ₱ {{ loan.totalBalanceLeft | number: "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let loan">
        <button
          mat-icon-button
          matTooltip="View loan"
          (click)="$event.stopPropagation(); viewLoan(loan)"
        >
          <mat-icon>remove_red_eye</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="View history"
          (click)="$event.stopPropagation(); viewHistory(loan)"
        >
          <mat-icon>list_alt</mat-icon>
        </button>
        <button
          mat-icon-button
          matTooltip="Edit"
          (click)="$event.stopPropagation(); editLoan(loan)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="app-empty-table" *ngIf="dataSource?.data.length <= 0">
    No loans were found.
  </div>

  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 5, 25, 100]"
    [length]="totalCount"
    [showFirstLastButtons]="true"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
