<h1 class="mat-headline">View Salary</h1>

<mat-card *ngIf="latestSalary" class="mb-4">
  <h3 class="font-medium mb-4">Current Salary</h3>
  <mat-card-content>
    <div class="row">
      <div class="col-lg-3">
        <app-display-field label="Effective From">
          {{ latestSalary.effectiveFrom | date }}
        </app-display-field>
      </div>

      <div class="col-lg-3">
        <app-display-field label="Salary Type">
          Monthly
        </app-display-field>
      </div>

      <div class="col-lg-3">
        <app-display-field label="Basic Salary">
          {{ latestSalary.basicSalary | amount }}
        </app-display-field>
      </div>

      <div class="col-lg-3">
        <app-display-field label="Allowance Salary">
          {{ latestSalary.allowanceSalary | amount }}
        </app-display-field>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <app-display-field label="SSS Contribution">
          <ng-container
            *ngIf="latestSalary.doPaySSSContribution; else sssOverride"
          >
            <span>Automatic Computation</span>
          </ng-container>
          <ng-template #sssOverride>
            No contribution
          </ng-template>
        </app-display-field>
      </div>

      <div class="col-lg-3">
        <app-display-field label="PhilHealth Contribution">
          <ng-container
            *ngIf="
              latestSalary.autoComputePhilHealthContribution;
              else philHealthOverride
            "
          >
            <span>Automatic Computation</span>
          </ng-container>
          <ng-template #philHealthOverride>
            {{ latestSalary.philHealthDeduction | amount }}
          </ng-template>
        </app-display-field>
      </div>

      <div class="col-lg-3">
        <app-display-field label="Pag-IBIG Contribution">
          <ng-container
            *ngIf="
              latestSalary.autoComputeHDMFContribution;
              else pagIbigOverride
            "
          >
            <span>Automatic Computation</span>
          </ng-container>
          <ng-template #pagIbigOverride>
            {{ latestSalary.hdmfDeduction | amount }}
          </ng-template>
        </app-display-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      mat-button
      color="primary"
      routerLink="/salaries/{{ latestSalary.id }}/edit"
    >
      UPDATE
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="m-no-padding">
  <h3 class="font-medium p-4">Salary History</h3>
  <mat-card-content>
    <table mat-table [dataSource]="salaries" class="w-full">
      <ng-container matColumnDef="effectiveFrom">
        <th mat-header-cell *matHeaderCellDef>Effective From</th>
        <td mat-cell *matCellDef="let salary">
          {{ salary.effectiveFrom | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="basicSalary">
        <th mat-header-cell *matHeaderCellDef>Basic Salary</th>
        <td mat-cell *matCellDef="let loan">
          {{ loan.basicSalary | number: "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="allowanceSalary">
        <th mat-header-cell *matHeaderCellDef>
          Allowance Salary
        </th>
        <td mat-cell *matCellDef="let loan">
          {{ loan.allowanceSalary | number: "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalSalary">
        <th mat-header-cell *matHeaderCellDef>Total Salary</th>
        <td mat-cell *matCellDef="let loan">
          {{ loan.totalSalary | number: "1.2-2" }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
