<header class="app-page-header">
  <h1>View Loan</h1>
</header>

<ng-container *ngIf="isLoading | async">
  <button
    style="margin-right: 10px;"
    mat-raised-button
    color="accent"
    routerLink="/loans/{{ loanId }}/edit"
  >
    EDIT LOAN
  </button>
  <button mat-raised-button color="warn" (click)="confirmDelete()">
    DELETE LOAN
  </button>

  <!-- Employee -->
  <mat-card>
    <mat-card-content>
      <div class="row">
        <!-- Employee Name -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Employee Name</p>
            <p class="field-value">{{ loan.employeeName }}</p>
          </div>
        </div>

        <!-- Employee Number -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Employee Number</p>
            <p class="field-value">{{ loan.employeeNumber }}</p>
          </div>
        </div>

        <!-- Employee Type -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Employee Type</p>
            <p class="field-value">{{ loan.employeeType }}</p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Details -->
  <mat-card>
    <mat-card-content>
      <h3 class="font-medium">Details</h3>
      <br />

      <div class="row">
        <!-- Start Date -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Start Date</p>
            <p class="field-value">{{ loan.startDate | date }}</p>
          </div>
        </div>

        <!-- Loan Number -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Loan Number</p>
            <p class="field-value">
              {{ loan.loanNumber | ifEmpty: "-" }}
            </p>
          </div>
        </div>

        <!-- Type -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Type</p>
            <p class="field-value">{{ loan.loanType }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Loan Amount -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Loan Amount</p>
            <p class="field-value">
              {{ loan.totalLoanAmount | number: "1.2-2" }}
            </p>
          </div>
        </div>

        <!-- Deduction Amount -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Deduction Amount</p>
            <p class="field-value">
              {{ loan.deductionAmount | number: "1.2-2" }}
            </p>
          </div>
        </div>

        <!-- Balance Left -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Balance Left</p>
            <p class="field-value">
              {{ loan.totalBalanceLeft | number: "1.2-2" }}
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Deduction Percentage -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Deduction Percentage</p>
            <p class="field-value">
              {{ loan.deductionPercentage | number: "1.2-2" }}
            </p>
          </div>
        </div>

        <!-- Status -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Status</p>
            <p class="field-value">
              {{ loan.status }}
            </p>
          </div>
        </div>

        <!-- Deduction Schedule -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Deduction Schedule</p>
            <p class="field-value">{{ loan.deductionSchedule }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Comments -->
        <div class="col-lg-3 mb-4">
          <div class="field">
            <p class="field-label">Comments</p>
            <p class="field-value">
              {{ loan.comments | ifEmpty: "-" }}
            </p>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
