<form [formGroup]="form">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Name</mat-label>
    <input matInput type="input" formControlName="name" />
    <mat-error>Name is required</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Trade Name</mat-label>
    <input matInput type="input" formControlName="tradeName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Address</mat-label>
    <input matInput type="input" formControlName="address" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Phone Number</mat-label>
    <input matInput type="input" formControlName="phoneNumber" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Contact Person</mat-label>
    <input matInput type="input" formControlName="contactPerson" />
  </mat-form-field>
</form>
