<h1>Time Entry Details</h1>

<ng-container *ngIf="isLoading | async">
  <app-time-entry-summary-details
    [payPeriodId]="payPeriod?.id"
    [canGenerate]="true"
    (afterGenerate)="afterGenerate()"
  ></app-time-entry-summary-details>

  <div class="mat-elevation-z1">
    <table
      mat-table
      multiTemplateDataRows
      matSort
      [dataSource]="dataSource"
      (matSortChange)="sortData($event)"
      class="w-full table-fixed"
    >
      <ng-container matColumnDef="employee">
        <th mat-header-cell mat-sort-header *matHeaderCellDef class="w-1/6">
          Full Name
        </th>
        <td mat-cell *matCellDef="let employee">
          <div class="flex items-center">
            <img
              class="block rounded-full"
              height="40"
              appImgFallback
              src="/api/employees/{{ employee?.employeeId }}/image"
            />
            <div class="ml-2">
              <a routerLink="/employees/{{ employee.employeeId }}">
                <div>{{ employee.fullName | ifEmpty }}</div>
              </a>
              <div class="text-xs mt-2">
                #{{ employee.employeeNo | ifEmpty }}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="regularHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Regular Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.regularHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="absentHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Absent Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.absentHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="lateHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Late Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.lateHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="undertimeHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>UT Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.undertimeHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="leaveHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Leave Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.leaveHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="overtimeHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>OT Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.overtimeHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nightDifferentialHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ND Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.nightDifferentialHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="nightDifferentialOvertimeHours">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>ND OT Hrs</th>
        <td mat-cell *matCellDef="let employee">
          {{ employee.totalTimeEntry.nightDifferentialOvertimeHours | ifZero }}
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let employee"
          [attr.colspan]="displayedColumns.length"
          class="m-no-padding"
        >
          <div app-expandable-row [expanded]="expandedEmployee === employee">
            <app-time-entry-table
              *ngIf="expandedEmployee === employee"
              [timeEntries]="timeEntries"
            ></app-time-entry-table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns; let employee"
        appExpandableRowTrigger
        (click)="toggleExpansion(row)"
        [ngClass]="{ 'row-outline': expandedEmployee === employee }"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']; let employee"
        appExpandableRowContainer
        [ngClass]="{ 'row-outline': expandedEmployee === employee }"
      ></tr>
    </table>

    <div class="app-empty-table" *ngIf="dataSource?.data.length <= 0">
      No employees were found.
    </div>

    <mat-paginator
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="[10, 5, 25, 100]"
      [length]="totalCount"
      [showFirstLastButtons]="true"
      (page)="onPageChanged($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
