.data-table {
  max-width: 400px;
  width: 100%;
}

.data-table > thead > tr > th:first-child,
.data-table > tfoot > tr > th:first-child {
  text-align: left;
}
.data-table > thead > tr > th:last-child,
.data-table > tfoot > tr > th:last-child,
.data-table > thead > tr > th,
.data-table > tfoot > tr > th {
  text-align: right;
}

.data-table > tr > td,
.data-table > tbody > tr > td,
.data-table > tbody > tr > th {
  text-align: right;
}

.data-table > tr > td:first-child,
.data-table > tbody > tr > td:first-child,
.data-table > tbody > tr > th:first-child {
  text-align: left;
}
