<div class="flex">
  <div class="w-1/2">
    <h1 class="mat-headline">View Calendar / {{ calendar?.name }}</h1>
  </div>
  <div class="w-1/2 flex justify-end items-start">
    <button mat-raised-button (click)="onSave()" color="accent">
      SAVE
    </button>
    <button
      mat-raised-button
      color="accent"
      routerLink="/calendars/{{ calendarId }}/edit"
    >
      EDIT
    </button>
  </div>
</div>

<ng-container *ngFor="let calendarMonth of calendarMonths">
  <app-calendar-month
    [month]="calendarMonth.month"
    [calendarDays]="calendarMonth.days"
    (dayClick)="changeDay($event)"
  ></app-calendar-month>
</ng-container>
