<form [formGroup]="form" (ngSubmit)="onSave()">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field color="accent" appearance="outline" class="w-full">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-error>Name is required</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="calendar == null" class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" color="accent" class="w-full">
            <mat-label>Calendar *</mat-label>
            <mat-select matInput formControlName="copiedCalendarId">
              <mat-option></mat-option>
              <mat-option
                *ngFor="let calendar of calendars"
                [value]="calendar.id"
              >
                {{ calendar.name }}
              </mat-option>
            </mat-select>
            <mat-error>Please select an employee</mat-error>
          </mat-form-field>
        </div>
      </div>
      <button mat-button type="button" color="accent" (click)="onCancel()">
        CANCEL
      </button>
      <button mat-raised-button type="submit" color="accent">FINISH</button>
    </mat-card-content>
  </mat-card>
</form>
