@import "~@angular/material/theming";

:host {
  display: block;
  @include mat-elevation(1);
}

mat-toolbar {
  background: white;
  min-height: 56px;
}

mat-toolbar-row {
  height: 56px;
}

.__spacer {
  flex: 1 1 auto;
}

.__preview {
  $size: 40px;
  width: $size;
  height: $size;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.__organization-logo {
  height: 40px;
}
