<mat-card class="ThresholdDetails" [formGroup]="group">
  <mat-card-title-group>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-subtitle>
      <ng-content></ng-content>
    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <table formArrayName="items">
      <tr>
        <th>Recall Classification</th>
        <th>Green</th>
        <th>Yellow</th>
        <th>Red</th>
      </tr>
      <tr *ngFor="let threshold of thresholdArray.controls; let i = index" [formGroupName]="i">
        <td>{{ getDescription(i) }}</td>
        <td class="color-column">
          <mat-form-field color="accent" class="color-input">
            <span matPrefix>0 to&nbsp;</span>
            <input type="number" matInput formControlName="first" (ngModelChange)="changefirst(i)" />
          </mat-form-field>
        </td>
        <td class="color-column">
          <mat-form-field color="accent" class="color-input">
            <span matPrefix>{{ getYellowStart(i) }} to&nbsp;</span>
            <input type="number" matInput formControlName="second" />
          </mat-form-field>
          <mat-error
            *ngIf="
              thresholdArray
                .at(i)
                .get('second')
                .hasError('required')
            "
            >Required field</mat-error
          >
          <mat-error
            *ngIf="
              thresholdArray
                .at(i)
                .get('second')
                .hasError('moreThan')
            "
            >Must be larger than Green</mat-error
          >
        </td>
        <td class="color-column">
          <mat-form-field color="accent" class="color-input app-input-no-underline">
            <span matPrefix>+{{ getRedStart(i) }} days</span>
            <input matInput readonly />
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="accent" type="button" (click)="onSave()">SAVE</button>
  </mat-card-actions>
</mat-card>
