<ng-container *ngIf="detail">
  <div class="app-page-header">
    <h1>My Account</h1>
    <div class="app-page-header__actions">
      <button mat-raised-button color="accent" class="m-with-icon" routerLink="/myaccount/edit">
        <mat-icon>edit</mat-icon>EDIT
      </button>
    </div>
  </div>

  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-lg-4 inline-flex">
          <img appImgFallback class="preview user-photo" [src]="imageUrl" />
        </div>

        <div class="col-lg-8">
          <h3 class="font-medium">Personal Info</h3>
          <div class="row">
            <div class="col-lg-6">
              <!-- First Name -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'First Name',
                    value: detail.firstName
                  }
                "
              >
              </ng-container>
            </div>

            <div class="col-lg-6">
              <!-- Last Name -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Last Name',
                    value: detail.lastName
                  }
                "
              >
              </ng-container>
            </div>

            <div class="col-lg-6">
              <!-- Email -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Email',
                    value: detail.email
                  }
                "
              >
              </ng-container>
            </div>

            <div class="col-lg-6">
              <!-- Title -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Title',
                    value: detail.title
                  }
                "
              >
              </ng-container>
            </div>

            <div class="col-lg-6">
              <!-- Phone Number -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Phone Number',
                    value: detail.phoneNumber
                  }
                "
              >
              </ng-container>
            </div>

            <div class="col-lg-6">
              <!-- Site/Location -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Site/Location',
                    value: detail.location
                  }
                "
              >
              </ng-container>
            </div>
          </div>

          <h3 class="font-medium">Account Details</h3>
          <div class="row">
            <div class="col-lg-6">
              <!-- Role -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Role',
                    value: detail.role
                  }
                "
              >
              </ng-container>
            </div>

            <div class="col-lg-6">
              <!-- Status -->
              <span class="custom-label">Status</span>
              <app-status type="User" [value]="detail.status"></app-status>
            </div>

            <div class="col-lg-6">
              <!-- Recall Categories -->
              <ng-container
                *ngTemplateOutlet="
                  formFieldDisplay;
                  context: {
                    label: 'Recall Categories',
                    value: detail.recallCategories.length > 0 ? detail.recallCategories?.join(', ') : 'All'
                  }
                "
              >
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>

<ng-template #formFieldDisplay let-label="label" let-value="value">
  <mat-form-field class="m-no-underline w-full" floatLabel="always">
    <mat-label>{{ label }}</mat-label>
    <input matInput [value]="value ? value : '-'" readonly />
  </mat-form-field>
</ng-template>
