<form [formGroup]="form">
  <div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error>Email is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error>First name is required</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" class="w-full">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error>Last name is required</mat-error>
    </mat-form-field>
  </div>
</form>
