@using AccuPay.Web.Views.Emails

@model InviteModel

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Invite</title>
</head>
<body>
    <a href="@Model.Url">Register</a>
</body>
</html>
