<form [formGroup]="form">
  <div class="row">
    <mat-form-field appearance="fill" color="accent" class="col-lg-12">
      <mat-label>Leave Type *</mat-label>
      <mat-select matInput formControlName="leaveType">
        <mat-option></mat-option>
        <mat-option *ngFor="let type of leaveTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error>Please select a type</mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" color="accent" class="col-lg-12">
      <mat-label>Date *</mat-label>
      <input matInput [matDatepicker]="startDate" formControlName="startDate" />
      <mat-datepicker-toggle
        matSuffix
        [for]="startDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
      <mat-error>Please select a date</mat-error>
    </mat-form-field>
  </div>

  <div class="row mb-4">
    <div class="col-lg-12">
      <mat-checkbox formControlName="isWholeDay"> Whole day </mat-checkbox>
    </div>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" color="accent" class="col-lg-6">
      <mat-label>Start Time *</mat-label>
      <input
        matInput
        type="time"
        autocomplete="off"
        formControlName="startTime"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" color="accent" class="col-lg-6">
      <mat-label>End Time *</mat-label>
      <input
        matInput
        type="time"
        autocomplete="off"
        formControlName="endTime"
      />
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="fill" color="accent" class="col-lg-12">
      <mat-label>Reason</mat-label>
      <textarea
        matInput
        matTextareaAutosize
        matAutosizeMinRows="3"
        autocomplete="off"
        formControlName="reason"
      >
      </textarea>
    </mat-form-field>
  </div>
</form>
