<h1 class="mat-headline">Roles</h1>

<div class="row mb-4">
  <div class="col-lg-9"></div>
  <div class="col-lg-3 flex justify-end">
    <button
      mat-raised-button
      color="primary"
      class="m-with-icon"
      routerLink="/roles/new"
    >
      <mat-icon>add</mat-icon>NEW ROLE
    </button>
  </div>
</div>

<div class="mat-elevation-z1">
  <table mat-table [dataSource]="dataSource" class="w-full">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let role">{{ role.name }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let role">
        <button mat-icon-button routerLink="/roles/{{ role.id }}/edit">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="app-empty-table" *ngIf="dataSource?.data.length <= 0">
    No roles were found.
  </div>

  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 5, 25, 100]"
    [length]="totalCount"
    [showFirstLastButtons]="true"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
